<style>
    .code {
        display: block;
        width: 500px;
        height: 200px;
        line-height: 200px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        color: #487d78;
    }

    .big {
        font-size: 40px;
    }

    html {
        background: radial-gradient(#292d35, #2c3139);
        color: white;
        height: 100%;
        overflow: hidden;
    }
</style>

<div class="code">
    <pre>
      <span class="big">// 404</span>
    </pre>
</div>